:root {
  /* # color palette */

  --black: #000000;
  --white: #ffffff;
  --green: #4bc800;
  --red: #d42105;
  --cyan: #00ffff;
  --purple: #800080;
  --pink: #ffc0cb;
  --gray: #4a4a4a;
  --dark-gray: #222222;
}

/* # reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* # utils */

/* # header */

.view-mode {
  height: 20px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.view-mode > span {
  height: 20px;
  line-height: 20px;
  margin: 0 5px;
  font-size: 0.75rem;
  padding: 0 5px;
  color: var(--white);
  background-color: var(--gray);
  border-radius: 5px;
}

/* # main */

.container {
  width: 90%;
  margin: 0 auto;
}

.zoom-call {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: auto;
  padding: 10px 0;
}

.zoom-card {
  height: 100px;
  width: 160px;
  position: relative;
}

.zoom-card > img {
  width: 100%;
}

.zoom-username {
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  z-index: 1;
  font-size: 0.75rem;
  color: var(--white);
  background-color: rgba(128, 128, 128, 0.6);
  padding: 2px;
}
/* # footer */

footer {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: var(--dark-gray);
}

.button-bar {
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: center;
  flex-direction: row;
  gap: 15px;
  font-size: 0.85rem;
  color: var(--white);
  padding: 5px;
}

.end-call {
  color: var(--red);
  background-color: var(--gray);
  text-align: center;
  line-height: 60px;
  padding: 0 10px;
}

/* # debug */

/* width */

.debug .col-20 {
  width: 20%;
}

.debug .col-14 {
  width: 14%;
}

/* height */

.debug .smaller {
  height: 40px;
}

.debug .small {
  height: 80px;
}

/* background color */

.debug .bg-cyan {
  background-color: var(--cyan);
}

.debug .bg-pink {
  background-color: var(--pink);
}

.debug .bg-purple {
  background-color: var(--purple);
}

.debug .bg-green {
  background-color: var(--green);
}

.debug .bg-black {
  background-color: var(--black);
}

.debug .bg-white {
  background-color: var(--white);
}
